streamlit
torch
torchvision
numpy
pandas
Pillow
transformers
ultralytics
faiss-cpu
opencv-python
sentencepiece
accelerate
timm
scipy
matplotlib
seaborn
tqdm
requests
git+https://github.com/openai/CLIP.git